setuptools==41.0.0
numpy
tensorflow
torch
jupyter
matplotlib
h5py
scipy
pandas
scikit-learn
seaborn
deap
imblearn
distributed==2.30.1
blosc
lz4
pickle5
xgboost
keras
statsmodels
pyarrow
plotly
mlxtend
mlflow
autogluon
psycopg2
